<!DOCTYPE html>
<html>
<head>
	<title>Email Validation</title>
	<style type="text/css">
		.green{
			background-color: green;
			color: white;
			size: 20px;
			display: inline-block;
			padding: 10px;
		}
	</style>
</head>
<body>
	
<h2 class="green">The email address you entered {{emailz}} is a VALID email address! Thank you!</h2>

<table>
	<tr>
		<th>Email Addresses Entered:</th>
	</tr>

	{% for email in emails %}
	<tr>
		<td>{{email.email}}</td>
		<td>{{email.email_added.strftime('%m/%d/%y %I:%M %p')}}</td>
	</tr>
	{% endfor %}

</table>

</body>
</html>